<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/dist/css/app.min.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="content-container">
				<div id="logo">
					<a href="/">
						<img src="/dist/imgs/logo.svg" alt="Picarto"/>
					</a>
				</div>
				<button class="hamburger hamburger--elastic mobile" type="button">
				  <span class="hamburger-box">
				    <span class="hamburger-inner"></span>
				  </span>
				</button> 
				<nav class="navbar">
					{{# each navLinks}}
						<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}} id="{{ id }}">
							<a href="{{ href }}">{{ label }}</a>
						</li>
					{{/each}}
				</nav>
				<div class="popupmenu">
					{{# each navLinks}}
						<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}} id="{{ id }}">
							<a href="{{ href }}">{{ label }}</a>
						</li>
					{{/each}}
				</div>
			</div>
		</header>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<footer class="content-container">
			
			<div class="paymentMethods">
                <!-- PayPal Logo -->
                <table border="0" cellpadding="10" cellspacing="0" align="center">
                    <tbody><tr>
                        <td align="center"></td></tr>
                    <tr>
                        <td align="center">
                                <img src="/dist/imgs/payment-methods.jpg" border="0" alt="PayPal Acceptance Mark">
                        </td>
                    </tr>
                	</tbody>
                </table>
                <!-- PayPal Logo -->
			</div>
			
			<div class="textSection footerText">
				<h3>Want more?</h3>
				<p>Enter your email address for exclusive discounts and latest updates</p>
			</div>
			
			
			<div id="mc_embed_signup">
				<form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email goes here..." required="">
					<input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="button">
				</form>
			</div>
			
			<hr/>
			
			<div class="social">
				<a href="https://web.facebook.com/Picarto-Personalised-Art-394263010767421/" target="_blank">
					<img src="/dist/imgs/facebook.png" />
				</a>
			</div>
			<div class="copyright">
				<span>&copy;</span> 2017 Picarto Pty Ltd | <a href="/privacy-policy/">Privacy Policy</a>
			</div>
		</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script type="text/javascript">
		  Stripe.setPublishableKey('pk_test_kHoGL8M7zIJNVe7Sihgu6gvn');
		</script>
		<script src="/dist/js/main.min.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57222202-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-57222202-1');
		</script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
