<div id="contact-page">
	<div class="content-container">
		
		{{#if enquirySubmitted}}
			<h1>Thanks for getting in touch.</h1>
		{{else}}
			<h1>Let's chat</h1>
			<p>Check out our fill this out so we can learn more about you and your needs.</p>
			<form method="post" enctype="multipart/form-data">
				<input type="hidden" name="action" value="contact">
				<p>My name is</p> 
				<div class="form-field {{#if validationErrors.name}}has-error{{/if}}">
					<input type="text" name="name.full" placeholder="your name" class="" value="{{formData.[name.full]}}">
				</div>
				<p> and I'm interested</p> 
				<p class="moved"> in getting an </p> 
				<div class="form-field {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<select name="enquiryType" class="form-control">
						{{#each enquiryTypes}}
							<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<p class="moved mobile-move"> done. Here is the images(s) that I would like to have turned into a painting:</p>
				
				<div class="form-group">
					<div id="myPictures" class="dropzone"></div>
                </div>                                                                                                                                                                                                                                                                                                                                      
				
				<div class="form-group textarea {{#if validationErrors.message}}has-error{{/if}}">
					<textarea name="message" placeholder="Please enter comments..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				
				<div class="form-group">
					<p>You can reach me at </p>
					<div class="form-field {{#if validationErrors.email}}has-error{{/if}}">
						<input type="email" name="email" placeholder="Your email" class="form-control" value="{{formData.email}}">
					</div>
				</div>
				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">SEND</button>
				</div>
			</form>
			
			<div class="splitter">
				<img src="/dist/imgs/splitter.jpg" />
			</div>
			
			<div class="call-us">
				<h3>Or if you would like to give us a call, that’s cool too!</h3>
				<div class="number">
					<p>AUSTRALIA</p>
					<a href="tel:1300 476 407">1300 476 407</a>
				</div>
				<div class="number">
					<p>INTERNATIONAL</p>
					<a href="tel:(+61) 0424 231 52">(+61) 0424 231 529</a>
				</div>
			</div>
			
		{{/if}}
	</div>
</div>
