<div id="home">
	<div class="content-container">
	{{# each data.home.results}}
		<section id="slogan">
			{{{content.slogan}}}
			<img src="{{cloudinaryUrl content.sloganImage }}" />
		</section>
		
		<section id="introduction">
			{{{content.introduction}}}
		</section>
		
		<section id="paintingExample">
			<div id="imageRevealer" class="pic1">
				<div class="changeImage">View Original</div>
				<img src="https://picarto.co/wp-content/themes/picarto/images/gallery/images/wall-art-from-a-photo.jpg" title="Oil | Before - Original Photo" width="920" alt="Personalized wall art" height="568" class="original">
				<img src="https://picarto.co/wp-content/themes/picarto/images/gallery/images/wall-art-from-a-photo-to-painting.jpg" title="Oil | After - Painted with Picarto" width="920" height="568" alt="Personalized art" class="new">
			</div>
			<div class="caption">
				{{{content.paintingExampleText}}}
			</div>
		</section>
		
		<section id="enticeExamples">
			<div class="textSection xlarge pink fadedMemories" style="background-image:url({{cloudinaryUrl fadedMemoriesImage }})">
				<div class="innerContent">
					{{{fadedMemoriesText}}}
				</div>
			</div>
			<div class="textSection xlarge pink lovedTogether" style="background-image:url({{cloudinaryUrl lovedOnesImage }})">
				<div class="innerContent">
					{{{lovedOnesText}}}
				</div>
			</div>
		</section>
	</div>
	
		<section class="largeImageWithText" id="married" style="background-image:url({{cloudinaryUrl marriedImage }});background-repeat:no-repeat;">
			<div class="content">
				{{{marriedText}}}
			</div>
		</section>
		
		
		<div class="content-container">
			<section id="how-does-it-work">
				{{{howDoesItWorkTitle}}}
				<div class="step">
					{{{howDoesStep1}}}
				</div>
				<div class="step">
					{{{howDoesStep2}}}
				</div>
				<div class="step">
					{{{howDoesStep3}}}
				</div>
				<a href="/faq/">
					FAQ
					<i class="icon-arrow-right-circle"></i>
				</a>
			</section>
		</div>
		
		<section class="largeImageWithText" id="madewithlove" style="background-image:url({{cloudinaryUrl madeWithLoveImage }});background-repeat:no-repeat;">
			<div class="content">
				{{{madeWithLoveText}}}
			</div>
		</section>
	{{/each}}
</div>