<div id="stories-page">
	<div class="content-container">
		{{# each data.posts.results}}
			<article class="story">
				<h2>{{{title}}}</h2>
				<p class="date">{{formattedDate}}</p>
				{{#if featuredImage}}
					<img src="{{{cloudinaryUrl featuredImage crop='fit'}}}" class="featured" alt="{{featuredImageAlt}}">
				{{/if}}
				{{#if content.text}}
					<div class="content text">
						{{{content.text}}}
					</div>
				{{/if}}
				{{#if content.originalImage}}
					<div class="content original">
						<div class="the-og">
							<p>ORIGINAL</p>
						</div>
						<img src="{{{cloudinaryUrl content.originalImage crop='fit'}}}" class="original" alt="{{content.originalImageAlt}}">
					</div>
				{{/if}}
			</article>
			<div class="splitter">
				<img src="/dist/imgs/splitter.jpg" />
			</div>
		{{/each}}
	</div>
</div>