<h1>Hi %recipient.firstName%</h1>
<p class="text-larger">You have received a contact enquiry that was just submitted via the {{brand}}.co website.</p>
{{#if enquiry.email}}
	<p class="text-larger">
		Name:
		{{#if enquiry.name.full}}
			<strong>{{enquiry.name.full}}</strong>
		{{/if}}
	</p>
	
	<p class="text-larger">
		Email:
		{{#if enquiry.email}}
			(<a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a>)
		{{/if}}
	</p>
	
	<p class="text-larger">
		Interested in:
		{{#if enquiry.enquiryType}}
			<p class="text-larger">{{underscoreFormat enquiry 'enquiryType'}}</p>
		{{/if}}
		{{#if enquiry.enquiryImages}}
			Uploaded Images:
			<p class="text-larger">{{enquiry.enquiryImages}}</p>
		{{/if}}
	</p>
	
	<p class="text-larger">
		Comments:
		{{#if enquiry.message}}
			{{{enquiry.message.html}}}
		{{/if}}
	</p>
{{/if}}
