<img src="http://picartosite.herokuapp.com/dist/imgs/email-logo.jpg"/>
<h1>Hi %recipient.firstName%</h1>
<p class="text-larger">You have received a contact enquiry that was just submitted via the {{brand}}.co website.</p>
{{#if enquiry.email}}
	<p class="text-larger">
		<strong>Name:</strong>
		{{#if enquiry.name.full}}
			{{enquiry.name.full}}
		{{/if}}
	</p>
	
	<p class="text-larger">
		<strong>Email:</strong>
		{{#if enquiry.email}}
			<a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a>
		{{/if}}
	</p>
	
	<p class="text-larger">
		<strong>Interested in:</strong>
		{{#if enquiry.enquiryType}}
			<p class="text-larger">{{underscoreFormat enquiry 'enquiryType'}}</p>
		{{/if}}
		{{#if enquiry.enquiryImages}}
			Uploaded Images:
			<p class="text-larger">{{enquiry.enquiryImages}}</p>
		{{/if}}
	</p>
	
	<p class="text-larger">
		<strong>Comments:</strong>
		{{#if enquiry.message}}
			{{{enquiry.message.html}}}
		{{/if}}
	</p>
{{/if}}
